.container {
    display: flex;
    gap: 16px;
    align-items: flex-end;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    transition: var(--transition-icon);
}

.icon:hover {
    transform: scale(1.1);
}

@media (max-width: 1024px) {
    .icon {
        width: 24px;
        height: 24px;
        object-fit: contain;
        cursor: pointer;
        transition: var(--transition-icon);
    }
}