.container {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.icon {
    object-fit: contain;
    transition: var(--transition-icon);
    border-radius: 12px;
    /* match your design */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.icon:hover {
    transform: scale(1.1);
}

.mobile {
    width: 80px;
    height: 80px;
}

.web {
    width: 140px;
    height: 80px;
}

@media (max-width: 1024px) {
    .mobile {
        width: 48px;
        height: 48px;
    }

    .web {
        width: 90px;
        height: 50px;
    }
}