.techStackText {
    font-style: italic;
}

.formattedText {
    margin-top: 28px;
}

.media {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    color: #e5e5e5;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-left: 20px;
}

.contentContainer {
    background: #4a455f;
    border-radius: 20px;
    padding: 12px 20px 14px 20px;
    line-height: 1.6;
}

.title {
    margin-bottom: 6px;
}

.subtitle {
    font-style: italic;
    margin-bottom: 18px;
}

.tags {
    font-style: italic;
    margin-bottom: 12px;
}

.description {
    color: #e0e0e0;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}